<div ng-app="myApp" ng-controller="ctrlTitle">
	<div class="row chapter-title">
		<div class="medium-12 columns background-image">

			<div class="row">
				<div class="medium-6 columns left">
					<chapter-title-dir />
				</div>
				<div class="medium-6 columns right">
					<chapter-summary-dir/>
				</div>


			</div>
		</div>

	</div>

</div>
