<div ng-init="showSpinner=true" ng-show="showSpinner" class="row">
	<div class="small-12 columns">
	    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
</div>
<section ng-show="!showSpinner">
    <div class="row">
        <div class="small-12 columns">
            <input type="text" placeholder="username" ng-model="username" />
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <input type="text" placeholder="password" ng-model="password"/>
        </div>
    </div>
    <a href="javascript:void(0)" class="button" ng-click="clickMe(username, password)">Submit</a>
    <span ng-if="show" ng-init="chapterOneSectionOne()"></span>
</section>